h1,
p,
input,
button,
form {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  background-color: #e3e6ec;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}
