/*------ Settings ------*/
.containerr {
  --color: #a5a5b0;
  --size: 30px;
  position: absolute;
  top: 55%;
  left: 88%;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
}

.containerr .eye {
  position: absolute;
  animation: keyframes-fill 0.5s;
}

.containerr .eye-slash {
  position: absolute;
  animation: keyframes-fill 0.5s;
  display: none;
}

/* ------ On check event ------ */
.containerr input:checked ~ .eye {
  display: none;
}

.containerr input:checked ~ .eye-slash {
  display: block;
}

.containerr input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
@keyframes keyframes-fill {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1.2);
  }
}

@media (max-width: 900px) {
  .containerr {
    --size: 20px;

    top: 35%;
    left: 85%;
  }
}
